body, html {
  height: 100%;
  background-color: indigo;
  text-align: center;
}

button {
  border: 3px solid black;
  border-radius: 15px;
  margin: 5px;
  color: purple;
}

button:hover {
  opacity: .6;
  cursor: pointer;
  border: 3px solid ivory;
}

input {
  background-color: black;
  color: ivory;
  border-radius: 15px;
  text-align: center;
  border: none;
  width: 250px;
  margin: 10px;
  font-size: 110%;
}